<%- include ('../partials/header.ejs') %>
<body>
    <header>
        <nav>
            <div class="sidebar close">
                <div class="logo-details">
                  <img src="\imagens\AutoLogo.png" class="logo">
                </div>
                <ul class="nav-links">
                  <li>
                    <a href="/"><i><img src="/imagens/icon-home.svg" alt="Tela Inicial"></i></a>
                    <ul class="sub-menu blank">
                      <li>
                        <a class="link_name" href="/">Tela de Início</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <i> <img src="/imagens/icon-calendario.svg" alt="Calendário"></i>
                    <ul class="sub-menu blank">
                      <li>
                        <a class="link_name" href="#">Calendário</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="/instrutores">
                      <i> <img src="/imagens/icon-instrutores.svg" alt="Instrutores"></i>
                    </a>
                    <ul class="sub-menu blank">
                      <li>
                        <a class="link_name" href="/instrutores">Instrutores</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <i> <img src="/imagens/icon-salas.svg" alt="Salas"></i>
                    <ul class="sub-menu blank">
                      <li>
                        <a class="link_name" href="#">Salas</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <i> <img src="/imagens/icon-turmas.svg" alt="Turmas"></i>
                    <ul class="sub-menu blank">
                      <li><a class="link_name" href="#">Turmas</a></li>
                    </ul>
                  </li>
                  <li>
                    <i> <img src="/imagens/icon-disciplinas.svg" alt="Disciplinas"></i>
                    <ul class="sub-menu blank">
                      <li><a class="link_name" href="#">Disciplinas</a></li>
                    </ul>
                  </li>
                </ul>
            </div>
          </nav>
    </header>
    <div class="card" style="margin-left: 78px;">
        <div class="card-header">
            <h2>Edição de Instrutor</h2>
        </div>
        <div class="card-body">
            <form action="/instrutores/atualizar" method="POST">
                <input class="form-control" type="text" name="nome" placeholder="Nome" value="<%= instrutor.nome %>">
                <input class="form-control" type="text" name="contato" placeholder="Contato" value="<%= instrutor.contato %>">
                <input class="form-control" type="text" name="apelido" placeholder="Apelido" value="<%= instrutor.apelido %>">
                <input class="form-control" type="text" name="cargo" placeholder="Cargo" value="<%= instrutor.cargo %>">
                <input class="form-control" type="text" name="email" placeholder="Email" value="<%= instrutor.email %>">
                <input type="hidden" name="id" value="<%= instrutor.id %>">
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</body>
<%- include ('../partials/footer.ejs') %>